<a href="https://colab.research.google.com/github/mjiii25/jeonju/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R 실행

https://gist.github.com/jobdiogenes/235620928c84e604c6e56211ccf681f0

In [ ]:
# Check if is running in Colab and redefine is_interactive()
if (file.exists("/usr/local/lib/python3.7/dist-packages/google/colab/_ipython.py")) {
  install.packages("R.utils")
  library("R.utils")
  library("httr")
  my_check <- function() {return(TRUE)}
  reassignInPackage("is_interactive", pkgName = "httr", my_check) 
  options(rlang_interactive=TRUE)
}

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘R.oo’, ‘R.methodsS3’


Loading required package: R.oo

Loading required package: R.methodsS3

R.methodsS3 v1.8.1 (2020-08-26 16:20:06 UTC) successfully loaded. See ?R.methodsS3 for help.

R.oo v1.24.0 (2020-08-26 16:11:58 UTC) successfully loaded. See ?R.oo for help.


Attaching package: ‘R.oo’


The following object is masked from ‘package:R.methodsS3’:

    throw


The following objects are masked from ‘package:methods’:

    getClasses, getMethods


The following objects are masked from ‘package:base’:

    attach, detach, load, save


R.utils v2.10.1 (2020-08-26 22:50:31 UTC) successfully loaded. See ?R.utils for help.


Attaching package: ‘R.utils’


The following object is masked from ‘package:utils’:

    timestamp


The following objects are masked from ‘package:base’:

    cat, commandArgs, getOption, inherits, isOpen, nullfile, parse,
    warnings

In [ ]:
# If ts not available we need to install . put other packages if you need.
packages <- c("googledrive", "googlesheets4")
if (length(setdiff(packages, rownames(installed.packages()))) > 0) {
  install.packages(setdiff(packages, rownames(installed.packages())))  
}

In [ ]:
library("googledrive")
library("googlesheets4")

Attaching package: ‘googlesheets4’


The following objects are masked from ‘package:googledrive’:

    request_generate, request_make

In [ ]:
# call authentication forcing interactive login and save in cache. 
drive_auth(use_oob = TRUE, cache = TRUE)

Please point your browser to the following url:

https://accounts.google.com/o/oauth2/auth?client_id=603366585132-dpeg5tt0et3go5of2374d83ifevk5086.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code

Enter authorization code: 4/1AY0e-g4J1WemvT9vVcsyEpoqBw5vyhNgbTXLsbaiuJAv7lAzsOA859OLEhg

In [ ]:
# Find Google Sheets anf get the id of the first sheet 
Sheets <- drive_find(type = "spreadsheet")
first_id <- Sheets$id[1]

In [ ]:
# reuse token to Sheet Auth. 
sheets_auth(token = drive_token())

Warning message:
“`sheets_auth()` was deprecated in googlesheets4 0.2.0.
Please use `gs4_auth()` instead.
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”

In [ ]:
# show data
sheets_read(first_id)

Warning message:
“`sheets_read()` was deprecated in googlesheets4 0.2.0.
Please use `range_read()` instead.
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”
Reading from "gu_usage"

Range "gu_usage"

    province gu       gu_eng       date       count
1   서울     종로구   Jongno       2020-07-01  85935
2   서울     중구     Jung         2020-07-01  52417
3   서울     용산구   Yongsan      2020-07-01  58354
4   서울     성동구   Seongdong    2020-07-01 106216
5   서울     광진구   Kwangjin     2020-07-01 125735
6   서울     동대문구 Dongdaemun   2020-07-01  93487
7   서울     중랑구   Jungnang     2020-07-01  76841
8   서울     성북구   Seongbuk     2020-07-01  81364
9   서울     강북구   Gangbuk      2020-07-01  54503
10  서울     도봉구   Dobong       2020-07-01  58420
11  서울     노원구   Nowon        2020-07-01 157281
12  서울     은평구   Eunpyeong    2020-07-01  81923
13  서울     서대문구 Seodaemun    2020-07-01  65144
14  서울     마포구   Mapo         2020-07-01 155009
15  서울     양천구   Yangcheon    2020-07-01 119956
16  서울     강서구   Gangseo      2020-07-01 224984
17  서울     구로구   Guro         2020-07-01 106619
18  서울     금천구   Geumcheon    2020-07-01  43940
19  서울     영등포구 Yeongdeungpo 2020-07-01 209515
20  서울     동작구   Dongjak      2020-07-01  67929
21  서울     관악구   Gwanak       2020-07-01  92451
22  서울     서초구   Seocho       2020-07-01 101631
23  서울     강남구   Gangnam      2020-07-01  79194
24  서울     송파구   Songpa       2020-07-01 185529
25  서울     강동구   Gangdong     2020-07-01  97719
26  서울     종로구   Jongno       2020-08-01  65729
27  서울     중구     Jung         2020-08-01  40401
28  서울     용산구   Yongsan      2020-08-01  36762
29  서울     성동구   Seongdong    2020-08-01  65323
30  서울     광진구   Kwangjin     2020-08-01  75051
⋮   ⋮        ⋮        ⋮            ⋮          ⋮
146 서울     관악구   Gwanak       2020-12-01 41420
147 서울     서초구   Seocho       2020-12-01 43259
148 서울     강남구   Gangnam      2020-12-01 38004
149 서울     송파구   Songpa       2020-12-01 85064
150 서울     강동구   Gangdong     2020-12-01 42373
151 서울     종로구   Jongno       2021-01-01 35643
152 서울     중구     Jung         2021-01-01 20396
153 서울     용산구   Yongsan      2021-01-01 18203
154 서울     성동구   Seongdong    2021-01-01 35822
155 서울     광진구   Kwangjin     2021-01-01 38357
156 서울     동대문구 Dongdaemun   2021-01-01 33426
157 서울     중랑구   Jungnang     2021-01-01 22773
158 서울     성북구   Seongbuk     2021-01-01 26138
159 서울     강북구   Gangbuk      2021-01-01 16101
160 서울     도봉구   Dobong       2021-01-01 16620
161 서울     노원구   Nowon        2021-01-01 41994
162 서울     은평구   Eunpyeong    2021-01-01 25442
163 서울     서대문구 Seodaemun    2021-01-01 23065
164 서울     마포구   Mapo         2021-01-01 48660
165 서울     양천구   Yangcheon    2021-01-01 43330
166 서울     강서구   Gangseo      2021-01-01 75019
167 서울     구로구   Guro         2021-01-01 31633
168 서울     금천구   Geumcheon    2021-01-01 13494
169 서울     영등포구 Yeongdeungpo 2021-01-01 64359
170 서울     동작구   Dongjak      2021-01-01 18950
171 서울     관악구   Gwanak       2021-01-01 27457
172 서울     서초구   Seocho       2021-01-01 29483
173 서울     강남구   Gangnam      2021-01-01 24706
174 서울     송파구   Songpa       2021-01-01 54819
175 서울     강동구   Gangdong     2021-01-01 26158

# **데이터 정리**

## 데이터 불러오기

In [9]:
pop <- read.csv('(중복)2019_전주시 동별 인구.csv', header=FALSE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
rest <- read.csv('(중복)동별 음식점 및 주점업 사업체수(2018).csv', header=FALSE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
bicycle <- read.csv('(행정동)12_04_03_E_자전거보관소정보.csv', header=FALSE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
bigstore <- read.csv('(행정동)대규모점포현황_2020.csv', header=FALSE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
cvstore <- read.csv('(행정동)동별 체인화 편의점 + 사업체수 (2018년).csv', header=FALSE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
univ <- read.csv('(행정동)전주시 대학교.csv', header=FALSE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
region <- read.csv('(행정동)전주시 행정동 면적.csv', header=FALSE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")

library(dplyr)
install.packages("plyr")
library(plyr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

------------------------------------------------------------------------------

You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)

------------------------------------------------------------------------------


Attaching package: ‘plyr’


The following objects are masked from ‘package:dplyr’:

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

In [10]:
jjdong <- read.csv('전주 행정동_가나다순.csv', header=FALSE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
jjdong <- jjdong$V1
str(jjdong)
head(jjdong)

 chr [1:36] "행정동" "금암1동" "금암2동" "노송동" "덕진동" "동서학동" ...

[1] "행정동"   "금암1동"  "금암2동"  "노송동"   "덕진동"   "동서학동"

## 인구수

In [11]:
str(pop) ####
head(pop)

'data.frame':	36 obs. of  3 variables:
 $ V1: chr  "구" "완산구" "완산구" "완산구" ...
 $ V2: chr  "동" "중앙동" "풍남동" "노송동" ...
 $ V3: chr  "인구" "8073" "4521" "13189" ...

  V1     V2       V3
1 구     동       인구
2 완산구 중앙동   8073
3 완산구 풍남동   4521
4 완산구 노송동   13189
5 완산구 완산동   5148
6 완산구 동서학동 6784

In [12]:
pop <- pop[,c(2,3)]
names(pop)[1] <- "행정동"
pop <- arrange(pop, pop$행정동)
table(pop$행정동 %in% jjdong) # 인구수 데이터에 있는 행정동 중 누락된 행정동 찾기 (FALSE가 누락된 행정동!)
table(jjdong %in% pop$행정동)

FALSE  TRUE
    2    34

FALSE  TRUE
    2    34

In [13]:
pop$행정동[pop$행정동 %in% jjdong == FALSE] #jjdong에는 없는 pop의 행정동
jjdong[jjdong %in% pop$행정동 == FALSE] #pop에는 없는 jjdong의 행정동

[1] "동"     "동산동"

[1] "행정동" "여의동"

동산동이 여의동으로 바뀌어서 누락된 것임!

In [14]:
pop$행정동[which(pop$행정동 == "동산동")] <- "여의동" ## 19년 8월에 동산동을 여의동으로 변경, https://www.hani.co.kr/arti/area/honam/905848.html?_fr=mt2

In [15]:
table(pop$행정동 %in% jjdong) # 인구수 데이터에 있는 행정동 중 누락된 행정동 찾기 (FALSE가 누락된 행정동!)
table(jjdong %in% pop$행정동)

FALSE  TRUE
    1    35

FALSE  TRUE
    1    35

이런식으로 데이터를 정리했는데.........

인구수 / 음식점수 / 편의점수 / 면적 은 정리했는데


자전거 보관대 수 / 대규모점포수 / 대학교수 는 동별로 그룹화하는데서 왠지 모를 오류가 뜨는 중 ㅠㅅㅠ

## 최종 데이터셋

저런 식으로 나머지 데이터들도 정리하다보면
jj처럼 정리할 수 있음 (동별로 데이터 정리!)

In [ ]:
jj <- merge(pop, rest)
jj <- merge(jj, cvstore)
jj <- merge(jj, region)
jj <- jj[,-1]
jj #차례대로 동별 인구수, 음식점수, 편의점수, 면적

   V3    음식점수 V4 면적.km
1  8824  323      25 1.25
2  10714 119      8  1.25
3  13189 193      5  2.09
4  21215 468      29 4.78
5  6784  67       6  15.64
6  14447 216      9  0.95
7  23323 219      13 26.6
8  40408 560      31 2.39
9  59376 347      30 4.79
10 26748 288      14 12.14
11 30208 184      22 15.71
12 10096 227      14 1.44
13 15125 389      36 22.91
14 19047 147      8  1.29
15 12094 174      7  1.32
16 32426 335      30 1.68
17 12133 90       7  24.28
18 8073  567      17 1.35
19 15288 227      19 1.22
20 20030 491      20 1.72
21 14924 145      8  1.71
22 8300  120      10 7.38
23 13204 108      8  1.49
24 46295 372      21 15.23
25 4521  488      16 2.05
26 17925 176      11 3.37
27 21154 121      9  7.64
28 10861 144      6  0.84
29 15758 156      9  0.79
30 33756 378      36 7.71
31 37898 805      60 6.27

그래서 상관분석을 실행하면 되는데 여기서는 왜 오류가 뜨지?-?




R에서는 이런 식으로 나옴!


![d캡처.PNG]()

In [ ]:
cor(jj)

ERROR: ignored