<a href="https://colab.research.google.com/github/mjiii25/jeonju/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R 실행

https://gist.github.com/jobdiogenes/235620928c84e604c6e56211ccf681f0

In [ ]:
# Check if is running in Colab and redefine is_interactive()
if (file.exists("/usr/local/lib/python3.7/dist-packages/google/colab/_ipython.py")) {
  install.packages("R.utils")
  library("R.utils")
  library("httr")
  my_check <- function() {return(TRUE)}
  reassignInPackage("is_interactive", pkgName = "httr", my_check) 
  options(rlang_interactive=TRUE)
}

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘R.oo’, ‘R.methodsS3’


Loading required package: R.oo

Loading required package: R.methodsS3

R.methodsS3 v1.8.1 (2020-08-26 16:20:06 UTC) successfully loaded. See ?R.methodsS3 for help.

R.oo v1.24.0 (2020-08-26 16:11:58 UTC) successfully loaded. See ?R.oo for help.


Attaching package: ‘R.oo’


The following object is masked from ‘package:R.methodsS3’:

    throw


The following objects are masked from ‘package:methods’:

    getClasses, getMethods


The following objects are masked from ‘package:base’:

    attach, detach, load, save


R.utils v2.10.1 (2020-08-26 22:50:31 UTC) successfully loaded. See ?R.utils for help.


Attaching package: ‘R.utils’


The following object is masked from ‘package:utils’:

    timestamp


The following objects are masked from ‘package:base’:

    cat, commandArgs, getOption, inherits, isOpen, nullfile, parse,
    warnings

In [ ]:
# If ts not available we need to install . put other packages if you need.
packages <- c("googledrive", "googlesheets4")
if (length(setdiff(packages, rownames(installed.packages()))) > 0) {
  install.packages(setdiff(packages, rownames(installed.packages())))  
}

In [ ]:
library("googledrive")
library("googlesheets4")

Attaching package: ‘googlesheets4’


The following objects are masked from ‘package:googledrive’:

    request_generate, request_make

In [ ]:
# call authentication forcing interactive login and save in cache. 
drive_auth(use_oob = TRUE, cache = TRUE)

Please point your browser to the following url:

https://accounts.google.com/o/oauth2/auth?client_id=603366585132-dpeg5tt0et3go5of2374d83ifevk5086.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code

Enter authorization code: 4/1AY0e-g4J1WemvT9vVcsyEpoqBw5vyhNgbTXLsbaiuJAv7lAzsOA859OLEhg

In [ ]:
# Find Google Sheets anf get the id of the first sheet 
Sheets <- drive_find(type = "spreadsheet")
first_id <- Sheets$id[1]

In [ ]:
# reuse token to Sheet Auth. 
sheets_auth(token = drive_token())

Warning message:
“`sheets_auth()` was deprecated in googlesheets4 0.2.0.
Please use `gs4_auth()` instead.
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”

In [ ]:
# show data
sheets_read(first_id)

Warning message:
“`sheets_read()` was deprecated in googlesheets4 0.2.0.
Please use `range_read()` instead.
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”
Reading from "gu_usage"

Range "gu_usage"

    province gu       gu_eng       date       count
1   서울     종로구   Jongno       2020-07-01  85935
2   서울     중구     Jung         2020-07-01  52417
3   서울     용산구   Yongsan      2020-07-01  58354
4   서울     성동구   Seongdong    2020-07-01 106216
5   서울     광진구   Kwangjin     2020-07-01 125735
6   서울     동대문구 Dongdaemun   2020-07-01  93487
7   서울     중랑구   Jungnang     2020-07-01  76841
8   서울     성북구   Seongbuk     2020-07-01  81364
9   서울     강북구   Gangbuk      2020-07-01  54503
10  서울     도봉구   Dobong       2020-07-01  58420
11  서울     노원구   Nowon        2020-07-01 157281
12  서울     은평구   Eunpyeong    2020-07-01  81923
13  서울     서대문구 Seodaemun    2020-07-01  65144
14  서울     마포구   Mapo         2020-07-01 155009
15  서울     양천구   Yangcheon    2020-07-01 119956
16  서울     강서구   Gangseo      2020-07-01 224984
17  서울     구로구   Guro         2020-07-01 106619
18  서울     금천구   Geumcheon    2020-07-01  43940
19  서울     영등포구 Yeongdeungpo 2020-07-01 209515
20  서울     동작구   Dongjak      2020-07-01  67929
21  서울     관악구   Gwanak       2020-07-01  92451
22  서울     서초구   Seocho       2020-07-01 101631
23  서울     강남구   Gangnam      2020-07-01  79194
24  서울     송파구   Songpa       2020-07-01 185529
25  서울     강동구   Gangdong     2020-07-01  97719
26  서울     종로구   Jongno       2020-08-01  65729
27  서울     중구     Jung         2020-08-01  40401
28  서울     용산구   Yongsan      2020-08-01  36762
29  서울     성동구   Seongdong    2020-08-01  65323
30  서울     광진구   Kwangjin     2020-08-01  75051
⋮   ⋮        ⋮        ⋮            ⋮          ⋮
146 서울     관악구   Gwanak       2020-12-01 41420
147 서울     서초구   Seocho       2020-12-01 43259
148 서울     강남구   Gangnam      2020-12-01 38004
149 서울     송파구   Songpa       2020-12-01 85064
150 서울     강동구   Gangdong     2020-12-01 42373
151 서울     종로구   Jongno       2021-01-01 35643
152 서울     중구     Jung         2021-01-01 20396
153 서울     용산구   Yongsan      2021-01-01 18203
154 서울     성동구   Seongdong    2021-01-01 35822
155 서울     광진구   Kwangjin     2021-01-01 38357
156 서울     동대문구 Dongdaemun   2021-01-01 33426
157 서울     중랑구   Jungnang     2021-01-01 22773
158 서울     성북구   Seongbuk     2021-01-01 26138
159 서울     강북구   Gangbuk      2021-01-01 16101
160 서울     도봉구   Dobong       2021-01-01 16620
161 서울     노원구   Nowon        2021-01-01 41994
162 서울     은평구   Eunpyeong    2021-01-01 25442
163 서울     서대문구 Seodaemun    2021-01-01 23065
164 서울     마포구   Mapo         2021-01-01 48660
165 서울     양천구   Yangcheon    2021-01-01 43330
166 서울     강서구   Gangseo      2021-01-01 75019
167 서울     구로구   Guro         2021-01-01 31633
168 서울     금천구   Geumcheon    2021-01-01 13494
169 서울     영등포구 Yeongdeungpo 2021-01-01 64359
170 서울     동작구   Dongjak      2021-01-01 18950
171 서울     관악구   Gwanak       2021-01-01 27457
172 서울     서초구   Seocho       2021-01-01 29483
173 서울     강남구   Gangnam      2021-01-01 24706
174 서울     송파구   Songpa       2021-01-01 54819
175 서울     강동구   Gangdong     2021-01-01 26158

# **데이터 정리**

## 데이터 불러오기 + 패키지 실행

In [58]:
pop <- read.csv('(중복)2019_전주시 동별 인구.csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
rest <- read.csv('(중복)동별 음식점 및 주점업 사업체수(2018).csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
bicycle <- read.csv('(행정동)12_04_03_E_자전거보관소정보.csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
bigstore <- read.csv('(행정동)대규모점포현황_2020.csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
cvstore <- read.csv('(행정동)동별 체인화 편의점 + 사업체수 (2018년).csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
univ <- read.csv('(행정동)전주시 대학교.csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
region <- read.csv('(행정동)전주시 행정동 면적.csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
store <- read.csv('전북 상권정보.csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")

library(dplyr)

Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
“invalid input found on input connection '전북 상권정보.csv'”

▼ jjdong : 전주시에 있는 행정동 데이터셋

In [59]:
jjdong <- read.csv('전주 행정동_가나다순.csv', header=TRUE, stringsAsFactors=FALSE, fileEncoding = "euc-kr")
jjdong <- jjdong$행정동
str(jjdong)
head(jjdong)

 chr [1:35] "금암1동" "금암2동" "노송동" "덕진동" "동서학동" "삼천1동" ...

[1] "금암1동"  "금암2동"  "노송동"   "덕진동"   "동서학동" "삼천1동"

## 인구수

In [60]:
str(pop)
head(pop)

'data.frame':	35 obs. of  3 variables:
 $ 구  : chr  "완산구" "완산구" "완산구" "완산구" ...
 $ 동  : chr  "중앙동" "풍남동" "노송동" "완산동" ...
 $ 인구: int  8073 4521 13189 5148 6784 9223 15288 20030 13204 46295 ...

  구     동       인구
1 완산구 중앙동    8073
2 완산구 풍남동    4521
3 완산구 노송동   13189
4 완산구 완산동    5148
5 완산구 동서학동  6784
6 완산구 서서학동  9223

1 동이랑 인구 불러오기

2 "동"을 "행정동"으로 바꾸기

3 행정동을 기준으로 오름차순 정렬하기

▼

In [61]:
pop <- pop[,c(2,3)]
names(pop)[1] <- "행정동"
pop <- arrange(pop, pop$행정동)
head(pop)

  행정동   인구
1 금암1동   8824
2 금암2동  10714
3 노송동   13189
4 덕진동   21215
5 동산동   30208
6 동서학동  6784

▼ 인구수 데이터에 누락된 동이 있는지 확인해본 결과, pop에 있지 않은 jjdong과 jjdong에 있지 않은 pop의 요소가 각각 하나씩 있음을 알 수 있다. (FALSE로 나타남)

In [62]:
table(pop$행정동 %in% jjdong)
table(jjdong %in% pop$행정동)

FALSE  TRUE
    1    34

FALSE  TRUE
    1    34

▼ pop에는 jjdong에 없는 '동산동'이 있고 jjdong에는 pop에 없는 '여의동'이 있는 것을 확인할 수 있다.

In [63]:
pop$행정동[pop$행정동 %in% jjdong == FALSE] #jjdong에는 없는 pop의 행정동
jjdong[jjdong %in% pop$행정동 == FALSE] #pop에는 없는 jjdong의 행정동

pop$행정동
jjdong

[1] "동산동"

[1] "여의동"

 [1] "금암1동"   "금암2동"   "노송동"    "덕진동"    "동산동"    "동서학동"
 [7] "삼천1동"   "삼천2동"   "삼천3동"   "서서학동"  "서신동"    "송천1동"
[13] "송천2동"   "완산동"    "우아1동"   "우아2동"   "인후1동"   "인후2동"
[19] "인후3동"   "조촌동"    "중앙동"    "중화산1동" "중화산2동" "진북동"
[25] "팔복동"    "평화1동"   "평화2동"   "풍남동"    "혁신동"    "호성동"
[31] "효자1동"   "효자2동"   "효자3동"   "효자4동"   "효자5동"

 [1] "금암1동"   "금암2동"   "노송동"    "덕진동"    "동서학동"  "삼천1동"
 [7] "삼천2동"   "삼천3동"   "서서학동"  "서신동"    "송천1동"   "송천2동"
[13] "여의동"    "완산동"    "우아1동"   "우아2동"   "인후1동"   "인후2동"
[19] "인후3동"   "조촌동"    "중앙동"    "중화산1동" "중화산2동" "진북동"
[25] "팔복동"    "평화1동"   "평화2동"   "풍남동"    "혁신동"    "호성동"
[31] "효자1동"   "효자2동"   "효자3동"   "효자4동"   "효자5동"

1 실제로 2019년 8월에 전주시에서 '동산동'을 '여의동'으로 변경했기 때문에 이런 차이가 발생하는 것임. pop의 '동산동'을 '여의동'으로 바꿔준다.

2 정리한 자료를 다시 행정동을 기준으로 오름차순 정렬하면

3 pop이 잘 정리된 것을 확인할 수 있다.

▼

In [64]:
pop$행정동[which(pop$행정동 == "동산동")] <- "여의동" ## 19년 8월에 동산동을 여의동으로 변경, https://www.hani.co.kr/arti/area/honam/905848.html?_fr=mt2
pop <- arrange(pop, pop$행정동)
pop

   행정동    인구
1  금암1동    8824
2  금암2동   10714
3  노송동    13189
4  덕진동    21215
5  동서학동   6784
6  삼천1동   12799
7  삼천2동   14447
8  삼천3동   23323
9  서서학동   9223
10 서신동    40408
11 송천1동   59376
12 송천2동   26748
13 여의동    30208
14 완산동     5148
15 우아1동   10096
16 우아2동   15125
17 인후1동   19047
18 인후2동   12094
19 인후3동   32426
20 조촌동    12133
21 중앙동     8073
22 중화산1동 15288
23 중화산2동 20030
24 진북동    14924
25 팔복동     8300
26 평화1동   13204
27 평화2동   46295
28 풍남동     4521
29 혁신동    17925
30 호성동    21154
31 효자1동   11784
32 효자2동   10861
33 효자3동   15758
34 효자4동   33756
35 효자5동   37898

## 음식점수

In [65]:
str(rest)
head(rest)

'data.frame':	35 obs. of  5 variables:
 $ 구     : chr  "완산구" "완산구" "완산구" "완산구" ...
 $ 항목   : chr  "효자5동" "중앙동" "서신동" "중화산2동" ...
 $ 순위   : int  1 2 3 4 5 6 7 8 9 10 ...
 $ 값     : int  805 567 560 491 488 378 372 227 219 216 ...
 $ 비율...: num  15.4 10.8 10.7 9.4 9.3 7.2 7.1 4.3 4.2 4.1 ...

  구     항목      순위 값  비율...
1 완산구 효자5동   1    805 15.4
2 완산구 중앙동    2    567 10.8
3 완산구 서신동    3    560 10.7
4 완산구 중화산2동 4    491  9.4
5 완산구 풍남동    5    488  9.3
6 완산구 효자4동   6    378  7.2

1 rest 데이터 중 동이 나와있는 '항목'과 음식점수가 나와있는 '값'을 추출

2 '항목'과 '값'을 '행정동'과 '음식점수'로 변경

3  행정동을 기준으로 오름차순 정렬

▼

In [66]:
rest <- rest[,c(2,4)]
names(rest) <- c("행정동", "음식점수")
rest <- arrange(rest, rest$행정동)
head(rest)

  행정동   음식점수
1 금암1동  323
2 금암2동  119
3 노송동   193
4 덕진동   468
5 동서학동  67
6 삼천1동   97

▼  pop에서와 마찬가지로 rest에서도 누락된 행정동이 있는지 확인해봤을 때, rest와 jjdong의 행정동이 모두 일치하는 것으로 보아 누락된 행정동은 없다고 볼 수 있다.

In [67]:
table(rest$행정동 %in% jjdong)
table(jjdong %in% rest$행정동)

jjdong[jjdong %in% rest$행정동 == FALSE]

rest$행정동
jjdong

TRUE
  35

TRUE
  35

character(0)

 [1] "금암1동"   "금암2동"   "노송동"    "덕진동"    "동서학동"  "삼천1동"
 [7] "삼천2동"   "삼천3동"   "서서학동"  "서신동"    "송천1동"   "송천2동"
[13] "여의동"    "완산동"    "우아1동"   "우아2동"   "인후1동"   "인후2동"
[19] "인후3동"   "조촌동"    "중앙동"    "중화산1동" "중화산2동" "진북동"
[25] "팔복동"    "평화1동"   "평화2동"   "풍남동"    "혁신동"    "호성동"
[31] "효자1동"   "효자2동"   "효자3동"   "효자4동"   "효자5동"

 [1] "금암1동"   "금암2동"   "노송동"    "덕진동"    "동서학동"  "삼천1동"
 [7] "삼천2동"   "삼천3동"   "서서학동"  "서신동"    "송천1동"   "송천2동"
[13] "여의동"    "완산동"    "우아1동"   "우아2동"   "인후1동"   "인후2동"
[19] "인후3동"   "조촌동"    "중앙동"    "중화산1동" "중화산2동" "진북동"
[25] "팔복동"    "평화1동"   "평화2동"   "풍남동"    "혁신동"    "호성동"
[31] "효자1동"   "효자2동"   "효자3동"   "효자4동"   "효자5동"

In [68]:
rest

   행정동    음식점수
1  금암1동   323
2  금암2동   119
3  노송동    193
4  덕진동    468
5  동서학동   67
6  삼천1동    97
7  삼천2동   216
8  삼천3동   219
9  서서학동   54
10 서신동    560
11 송천1동   347
12 송천2동   288
13 여의동    184
14 완산동     17
15 우아1동   227
16 우아2동   389
17 인후1동   147
18 인후2동   174
19 인후3동   335
20 조촌동     90
21 중앙동    567
22 중화산1동 227
23 중화산2동 491
24 진북동    145
25 팔복동    120
26 평화1동   108
27 평화2동   372
28 풍남동    488
29 혁신동    176
30 호성동    121
31 효자1동    72
32 효자2동   144
33 효자3동   156
34 효자4동   378
35 효자5동   805

## 자전거 보관대 수

In [69]:
str(bicycle)
head(bicycle)

'data.frame':	179 obs. of  17 variables:
 $ 번호              : int  1 2 3 4 5 6 7 8 9 10 ...
 $ 자전거보관소명    : chr  "자전거 보관대" "자전거 보관대" "자전거 보관대" "자전거 보관대" ...
 $ 소재지도로명주소  : chr  "전라북도 전주시 덕진구 여암2길 9" "전라북도 전주시 덕진구 송천중앙로 116" "전라북도 전주시 덕진구 송천중앙로162" "전라북도 전주시 덕진구 송천중앙로 153" ...
 $ 소재지지번주소    : chr  "전라북도 전주시 덕진구 반월동 248-32" "전라북도 전주시 덕진구 송천동1가 395-28" "전라북도 전주시 덕진구 송천동1가 113-12" "전라북도 전주시 덕진구 송천동1가 481-4" ...
 $ 행정동            : chr  "조촌동" "송천1동" "송천2동" "송천2동" ...
 $ 위도              : num  35.9 35.9 35.9 35.9 35.9 ...
 $ 경도              : num  127 127 127 127 127 ...
 $ 보관대수          : int  6 7 7 10 10 6 7 7 10 30 ...
 $ 설치연도          : int  NA NA NA NA NA NA NA NA NA NA ...
 $ 설치형태          : chr  "거치형" "휀스형" "거치형" "휀스형" ...
 $ 차양막설치여부    : chr  "N" "Y" "N" "Y" ...
 $ 공기주입기비치여부: chr  "N" "N" "N" "N" ...
 $ 공기주입기유형    : logi  NA NA NA NA NA NA ...
 $ 수리대설치여부    : chr  "N" "N" "N" "N" ...
 $ 관리기관전화번호  : chr  "063-281-2602" "063-281-2603" "063-281-2604" "063-281-2605" ...
 $ 관리기관명        : chr  "전라북도 전주시청 자전거정책과" "전라북도 전주시청 자전거정책과" "전라북도 전주시청 자전거정책과" "전라북도 전주시청 자전거정책과" ...
 $ 데이터기준일자    : chr  "2020-08-31" "2020-08-31" "2020-08-31" "2020-08-31" ...

  번호 자전거보관소명 소재지도로명주소
1 1    자전거 보관대  전라북도 전주시 덕진구 여암2길 9
2 2    자전거 보관대  전라북도 전주시 덕진구 송천중앙로 116
3 3    자전거 보관대  전라북도 전주시 덕진구 송천중앙로162
4 4    자전거 보관대  전라북도 전주시 덕진구 송천중앙로 153
5 5    자전거 보관대  전라북도 전주시 덕진구 천마산로 40
6 6    자전거 보관대  전라북도 전주시 덕진구 견훤왕궁로 277
  소재지지번주소                           행정동  위도     경도     보관대수
1 전라북도 전주시 덕진구 반월동 248-32     조촌동  35.87201 127.0757  6
2 전라북도 전주시 덕진구 송천동1가 395-28  송천1동 35.85710 127.1210  7
3 전라북도 전주시 덕진구 송천동1가 113-12  송천2동 35.86099 127.1217  7
4 전라북도 전주시 덕진구 송천동1가 481-4   송천2동 35.86063 127.1209 10
5 전라북도 전주시 덕진구 송천동1가 107-172 송천2동 35.86335 127.1257 10
6 전라북도 전주시 덕진구 금암동 1600-6     금암2동 35.84259 127.1441  6
  설치연도 설치형태 차양막설치여부 공기주입기비치여부 공기주입기유형
1 NA       거치형   N              N                  NA
2 NA       휀스형   Y              N                  NA
3 NA       거치형   N              N                  NA
4 NA       휀스형   Y              N                  NA
5 NA       휀스형   Y              N                  NA
6 NA       거치형   N              N                  NA
  수리대설치여부 관리기관전화번호 관리기관명                     데이터기준일자
1 N              063-281-2602     전라북도 전주시청 자전거정책과 2020-08-31
2 N              063-281-2603     전라북도 전주시청 자전거정책과 2020-08-31
3 N              063-281-2604     전라북도 전주시청 자전거정책과 2020-08-31
4 N              063-281-2605     전라북도 전주시청 자전거정책과 2020-08-31
5 N              063-281-2606     전라북도 전주시청 자전거정책과 2020-08-31
6 N              063-281-2607     전라북도 전주시청 자전거정책과 2020-08-31

▼  '번호', '행정동', '보관대수'만 뽑아서 다시 bicycle에 저장

In [70]:
bicycle <- bicycle[, c(1,5,8)]
head(bicycle)

  번호 행정동  보관대수
1 1    조촌동   6
2 2    송천1동  7
3 3    송천2동  7
4 4    송천2동 10
5 5    송천2동 10
6 6    금암2동  6

▼ dplyr 패키지 이용해서 행정동을 기준으로 그룹화하고, 그 안에서 행정동별 자전거보관대의 수를 합친 결과를 출력한다.

In [71]:
bicycle <- bicycle %>% group_by(행정동) %>% summarise(자전거보관대수 = sum(보관대수))
head(bicycle)

  행정동   자전거보관대수
1 금암1동  253
2 금암2동   20
3 노송동   138
4 덕진동   237
5 동서학동   7
6 삼천2동   21

1 bicycle을 데이터프레임으로 바꿔주고

2 행정동을 기준으로 오름차순 정렬

▼

In [72]:
bicycle <- as.data.frame(bicycle)
bicycle <- arrange(bicycle, bicycle$행정동)
bicycle

   행정동    자전거보관대수
1  금암1동   253
2  금암2동    20
3  노송동    138
4  덕진동    237
5  동서학동    7
6  삼천2동    21
7  삼천3동    62
8  서서학동    7
9  서신동    126
10 송천1동    31
11 송천2동    27
12 완산동      7
13 우아2동   110
14 인후1동    78
15 인후2동    60
16 인후3동    20
17 조촌동     23
18 중앙동     68
19 중화산2동 119
20 진북동    125
21 팔복동     31
22 평화1동    95
23 평화2동    46
24 풍남동     24
25 효자1동    76
26 효자2동    65
27 효자3동    10
28 효자4동    42
29 효자5동    73

▼ bicycle에서 누락된 행정동이 '삼천1동', '여의동', '우아1동', '중화산1동', '혁신동', '호성동' 이렇게 해서 총 6개!

In [73]:
table(bicycle$행정동 %in% jjdong)
table(jjdong %in% bicycle$행정동)


jjdong[jjdong %in% bicycle$행정동 == FALSE]

TRUE
  29

FALSE  TRUE
    6    29

[1] "삼천1동"   "여의동"    "우아1동"   "중화산1동" "혁신동"    "호성동"

▼ jjdong[jjdong %in% bicycle$행정동 == FALSE] 을 '행정동'으로, 이에 해당하는 NA값을 '자전거보관대수'로 저장하는 데이터프레임 add를 만든다.

In [74]:
add <- data.frame(행정동 = jjdong[jjdong %in% bicycle$행정동 == FALSE], 자전거보관대수 = rep(NA, length(jjdong[jjdong %in% bicycle$행정동 == FALSE])))
head(add)

  행정동    자전거보관대수
1 삼천1동   NA
2 여의동    NA
3 우아1동   NA
4 중화산1동 NA
5 혁신동    NA
6 호성동    NA

1 bicycle과 add를 행을 기준으로 합쳐서 다시 bicycle에 저장

2 행정동을 기준으로 오름차순 정렬

▼

In [75]:
bicycle <- rbind(bicycle, add)
bicycle <- arrange(bicycle, bicycle$행정동)
bicycle

   행정동    자전거보관대수
1  금암1동   253
2  금암2동    20
3  노송동    138
4  덕진동    237
5  동서학동    7
6  삼천1동    NA
7  삼천2동    21
8  삼천3동    62
9  서서학동    7
10 서신동    126
11 송천1동    31
12 송천2동    27
13 여의동     NA
14 완산동      7
15 우아1동    NA
16 우아2동   110
17 인후1동    78
18 인후2동    60
19 인후3동    20
20 조촌동     23
21 중앙동     68
22 중화산1동  NA
23 중화산2동 119
24 진북동    125
25 팔복동     31
26 평화1동    95
27 평화2동    46
28 풍남동     24
29 혁신동     NA
30 호성동     NA
31 효자1동    76
32 효자2동    65
33 효자3동    10
34 효자4동    42
35 효자5동    73

## 대규모점포 수

In [76]:
str(bigstore)
head(bigstore)

'data.frame':	43 obs. of  5 variables:
 $ 분류   : chr  "대규모점포" "대규모점포" "대규모점포" "대규모점포" ...
 $ store  : chr  "롯데백화점 전주점" "E-마트" "홈플러스 완산점" "홈플러스 전주점" ...
 $ address: chr  "전주시 완산구 온고을로 2" "전주시 완산구 당산로 111" "전주시 완산구 기린대로 170" "전주시 덕진구 백제대로 771" ...
 $ 행정동 : chr  "서신동" "서신동" "노송동" "우아1동" ...
 $ 면적   : int  28179 6571 13121 8471 22657 10430 10387 6115 7721 21317 ...

  분류       store             address                    행정동  면적
1 대규모점포 롯데백화점 전주점 전주시 완산구 온고을로 2   서신동  28179
2 대규모점포 E-마트            전주시 완산구 당산로 111   서신동   6571
3 대규모점포 홈플러스 완산점   전주시 완산구 기린대로 170 노송동  13121
4 대규모점포 홈플러스 전주점   전주시 덕진구 백제대로 771 우아1동  8471
5 대규모점포 홈플러스 효자점   전주시 완산구 용머리로 31  효자3동 22657
6 대규모점포 롯데마트 전주점   전주시 완산구 우전로 240   효자4동 10430

In [77]:
bigstore <- bigstore[,c(2,4,5)]
bigstore$count <- rep(1,nrow(bigstore))
head(bigstore)

  store             행정동  면적  count
1 롯데백화점 전주점 서신동  28179 1
2 E-마트            서신동   6571 1
3 홈플러스 완산점   노송동  13121 1
4 홈플러스 전주점   우아1동  8471 1
5 홈플러스 효자점   효자3동 22657 1
6 롯데마트 전주점   효자4동 10430 1

In [78]:
bigstore <- bigstore %>% group_by(행정동) %>% summarise(대규모점포수 = sum(count))
bigstore <- as.data.frame(bigstore)
bigstore <- arrange(bigstore, bigstore$행정동)
bigstore

   행정동    대규모점포수
1  금암1동   1
2  노송동    2
3  덕진동    1
4  삼천3동   2
5  서신동    4
6  송천1동   3
7  여의동    3
8  우아1동   1
9  인후1동   1
10 인후2동   1
11 인후3동   1
12 중앙동    4
13 중화산1동 1
14 평화2동   3
15 풍남동    2
16 호성동    1
17 효자1동   2
18 효자3동   2
19 효자4동   8

In [79]:
table(bigstore$행정동 %in% jjdong)
table(jjdong %in% bigstore$행정동)


jjdong[jjdong %in% bigstore$행정동 == FALSE]

TRUE
  19

FALSE  TRUE
   16    19

 [1] "금암2동"   "동서학동"  "삼천1동"   "삼천2동"   "서서학동"  "송천2동"
 [7] "완산동"    "우아2동"   "조촌동"    "중화산2동" "진북동"    "팔복동"
[13] "평화1동"   "혁신동"    "효자2동"   "효자5동"

In [80]:
add <- data.frame(행정동 = jjdong[jjdong %in% bigstore$행정동 == FALSE], 대규모점포수 = rep(0, length(jjdong[jjdong %in% bigstore$행정동 == FALSE])))
bigstore <- rbind(bigstore, add)
bigstore <- arrange(bigstore, bigstore$행정동)
bigstore

   행정동    대규모점포수
1  금암1동   1
2  금암2동   0
3  노송동    2
4  덕진동    1
5  동서학동  0
6  삼천1동   0
7  삼천2동   0
8  삼천3동   2
9  서서학동  0
10 서신동    4
11 송천1동   3
12 송천2동   0
13 여의동    3
14 완산동    0
15 우아1동   1
16 우아2동   0
17 인후1동   1
18 인후2동   1
19 인후3동   1
20 조촌동    0
21 중앙동    4
22 중화산1동 1
23 중화산2동 0
24 진북동    0
25 팔복동    0
26 평화1동   0
27 평화2동   3
28 풍남동    2
29 혁신동    0
30 호성동    1
31 효자1동   2
32 효자2동   0
33 효자3동   2
34 효자4동   8
35 효자5동   0

## 편의점 수

In [81]:
str(cvstore)
head(cvstore)

'data.frame':	31 obs. of  5 variables:
 $ 구         : chr  "완산구" "완산구" "완산구" "완산구" ...
 $ 동         : chr  "효자5동" "효자4동" "서신동" "평화2동" ...
 $ 순위.구.내.: int  1 2 3 4 5 6 7 8 9 10 ...
 $ 편의점수   : int  60 36 31 21 20 19 17 16 13 9 ...
 $ 비율...    : num  21.7 13 11.2 7.6 7.2 6.9 6.2 5.8 4.7 3.3 ...

  구     동        순위.구.내. 편의점수 비율...
1 완산구 효자5동   1           60       21.7
2 완산구 효자4동   2           36       13.0
3 완산구 서신동    3           31       11.2
4 완산구 평화2동   4           21        7.6
5 완산구 중화산2동 5           20        7.2
6 완산구 중화산1동 6           19        6.9

In [82]:
cvstore <- cvstore[,c(2,4)]
names(cvstore)[1] <- "행정동"
cvstore <- arrange(cvstore, cvstore$행정동)
cvstore

   행정동    편의점수
1  금암1동   25
2  금암2동    8
3  노송동     5
4  덕진동    29
5  동서학동   6
6  삼천2동    9
7  삼천3동   13
8  서신동    31
9  송천1동   30
10 송천2동   14
11 여의동    22
12 우아1동   14
13 우아2동   36
14 인후1동    8
15 인후2동    7
16 인후3동   30
17 조촌동     7
18 중앙동    17
19 중화산1동 19
20 중화산2동 20
21 진북동     8
22 팔복동    10
23 평화1동    8
24 평화2동   21
25 풍남동    16
26 혁신동    11
27 호성동     9
28 효자2동    6
29 효자3동    9
30 효자4동   36
31 효자5동   60

In [83]:
table(cvstore$행정동 %in% jjdong)
table(jjdong %in% cvstore$행정동)

jjdong[jjdong %in% cvstore$행정동 == FALSE] #cvstore에는 없는 jjdong의 행정동

TRUE
  31

FALSE  TRUE
    4    31

[1] "삼천1동"  "서서학동" "완산동"   "효자1동"

In [84]:
add <- data.frame(행정동 = jjdong[jjdong %in% cvstore$행정동 == FALSE], 편의점수 = rep(NA, length(jjdong[jjdong %in% cvstore$행정동 == FALSE])))
cvstore<- rbind(cvstore, add)
cvstore <- arrange(cvstore, cvstore$행정동)
cvstore

   행정동    편의점수
1  금암1동   25
2  금암2동    8
3  노송동     5
4  덕진동    29
5  동서학동   6
6  삼천1동   NA
7  삼천2동    9
8  삼천3동   13
9  서서학동  NA
10 서신동    31
11 송천1동   30
12 송천2동   14
13 여의동    22
14 완산동    NA
15 우아1동   14
16 우아2동   36
17 인후1동    8
18 인후2동    7
19 인후3동   30
20 조촌동     7
21 중앙동    17
22 중화산1동 19
23 중화산2동 20
24 진북동     8
25 팔복동    10
26 평화1동    8
27 평화2동   21
28 풍남동    16
29 혁신동    11
30 호성동     9
31 효자1동   NA
32 효자2동    6
33 효자3동    9
34 효자4동   36
35 효자5동   60

## 대학교 수

In [85]:
str(univ)
head(univ)

'data.frame':	7 obs. of  3 variables:
 $ 대학교: chr  "전북대학교 전주캠퍼스" "전주교육대학교" "예수대학교" "전주대학교" ...
 $ 위치  : chr  "전라북도 전주시 덕진구 백제대로 567" "전라북도 전주시 완산구 서학로 50 " "전라북도 전주시 완산구 서원로 383 " "전라북도 전주시 완산구 천잠로 303" ...
 $ 행정동: chr  "덕진동" "동서학동" "중화산1동" "효자4동" ...

  대학교                위치                                  행정동
1 전북대학교 전주캠퍼스 전라북도 전주시 덕진구 백제대로 567   덕진동
2 전주교육대학교        전라북도 전주시 완산구 서학로 50      동서학동
3 예수대학교            전라북도 전주시 완산구 서원로 383     중화산1동
4 전주대학교            전라북도 전주시 완산구 천잠로 303     효자4동
5 전주기전대학          전라북도 전주시 완산구 전주천서로 267 중화산1동
6 전주비전대학교        전라북도 전주시 완산구 천잠로 235     효자4동

In [86]:
univ <- univ[,c(1,3)]
univ$count <- rep(1,nrow(univ))
univ

  대학교                행정동    count
1 전북대학교 전주캠퍼스 덕진동    1
2 전주교육대학교        동서학동  1
3 예수대학교            중화산1동 1
4 전주대학교            효자4동   1
5 전주기전대학          중화산1동 1
6 전주비전대학교        효자4동   1
7 한국농수산대학        효자5동   1

In [87]:
univ <- univ %>% group_by(행정동) %>% summarise(대학교수 = sum(count))
univ <- as.data.frame(univ)
univ <- arrange(univ, univ$행정동)
univ

  행정동    대학교수
1 덕진동    1
2 동서학동  1
3 중화산1동 2
4 효자4동   2
5 효자5동   1

In [88]:
table(univ$행정동 %in% jjdong)
table(jjdong %in% univ$행정동)

jjdong[jjdong %in% univ$행정동 == FALSE] #univ에는 없는 jjdong의 행정동

TRUE
   5

FALSE  TRUE
   30     5

 [1] "금암1동"   "금암2동"   "노송동"    "삼천1동"   "삼천2동"   "삼천3동"
 [7] "서서학동"  "서신동"    "송천1동"   "송천2동"   "여의동"    "완산동"
[13] "우아1동"   "우아2동"   "인후1동"   "인후2동"   "인후3동"   "조촌동"
[19] "중앙동"    "중화산2동" "진북동"    "팔복동"    "평화1동"   "평화2동"
[25] "풍남동"    "혁신동"    "호성동"    "효자1동"   "효자2동"   "효자3동"

In [89]:
add <- data.frame(행정동 = jjdong[jjdong %in% univ$행정동 == FALSE], 대학교수 = rep(0, length(jjdong[jjdong %in% univ$행정동 == FALSE])))
univ <- rbind(univ, add)
univ <- arrange(univ, univ$행정동)
univ

   행정동    대학교수
1  금암1동   0
2  금암2동   0
3  노송동    0
4  덕진동    1
5  동서학동  1
6  삼천1동   0
7  삼천2동   0
8  삼천3동   0
9  서서학동  0
10 서신동    0
11 송천1동   0
12 송천2동   0
13 여의동    0
14 완산동    0
15 우아1동   0
16 우아2동   0
17 인후1동   0
18 인후2동   0
19 인후3동   0
20 조촌동    0
21 중앙동    0
22 중화산1동 2
23 중화산2동 0
24 진북동    0
25 팔복동    0
26 평화1동   0
27 평화2동   0
28 풍남동    0
29 혁신동    0
30 호성동    0
31 효자1동   0
32 효자2동   0
33 효자3동   0
34 효자4동   2
35 효자5동   1

## 면적

In [90]:
str(region)
head(region)

'data.frame':	35 obs. of  3 variables:
 $ 구       : chr  "덕진구" "덕진구" "덕진구" "덕진구" ...
 $ 동       : chr  "진북동" "인후1동" "인후2동" "인후3동" ...
 $ 면적.km..: num  1.71 1.29 1.32 1.68 4.78 ...

  구     동      면적.km..
1 덕진구 진북동  1.71
2 덕진구 인후1동 1.29
3 덕진구 인후2동 1.32
4 덕진구 인후3동 1.68
5 덕진구 덕진동  4.78
6 덕진구 금암1동 1.25

In [91]:
region <- region[,c(2,3)]
names(region) <- c("행정동", "면적.km")
region <- arrange(region, region$행정동)
region

   행정동    면적.km
1  금암1동    1.25
2  금암2동    1.25
3  노송동     2.09
4  덕진동     4.78
5  동서학동  15.64
6  삼천1동    1.27
7  삼천2동    0.95
8  삼천3동   26.60
9  서서학동   2.97
10 서신동     2.39
11 송천1동    4.79
12 송천2동   12.14
13 여의동    15.71
14 완산동     0.99
15 우아1동    1.44
16 우아2동   22.91
17 인후1동    1.29
18 인후2동    1.32
19 인후3동    1.68
20 조촌동    24.28
21 중앙동     1.35
22 중화산1동  1.22
23 중화산2동  1.72
24 진북동     1.71
25 팔복동     7.38
26 평화1동    1.49
27 평화2동   15.23
28 풍남동     2.05
29 혁신동     3.37
30 호성동     7.64
31 효자1동    1.02
32 효자2동    0.84
33 효자3동    0.79
34 효자4동    7.71
35 효자5동    6.27

In [92]:
table(region$행정동 %in% jjdong)
table(jjdong %in% region$행정동)

region$행정동[region$행정동 %in% jjdong == FALSE] #jjdong에는 없는 region의 행정동 #이름 오류 있는 듯 (송청1동, 품남동)

jjdong[jjdong %in% region$행정동 == FALSE] #region에는 없는 jjdong의 행정동

region

TRUE
  35

TRUE
  35

character(0)

character(0)

   행정동    면적.km
1  금암1동    1.25
2  금암2동    1.25
3  노송동     2.09
4  덕진동     4.78
5  동서학동  15.64
6  삼천1동    1.27
7  삼천2동    0.95
8  삼천3동   26.60
9  서서학동   2.97
10 서신동     2.39
11 송천1동    4.79
12 송천2동   12.14
13 여의동    15.71
14 완산동     0.99
15 우아1동    1.44
16 우아2동   22.91
17 인후1동    1.29
18 인후2동    1.32
19 인후3동    1.68
20 조촌동    24.28
21 중앙동     1.35
22 중화산1동  1.22
23 중화산2동  1.72
24 진북동     1.71
25 팔복동     7.38
26 평화1동    1.49
27 평화2동   15.23
28 풍남동     2.05
29 혁신동     3.37
30 호성동     7.64
31 효자1동    1.02
32 효자2동    0.84
33 효자3동    0.79
34 효자4동    7.71
35 효자5동    6.27

## 상권정보

In [98]:
str(store)
head(store)

'data.frame':	6503 obs. of  39 variables:
 $ 상가업소번호      : int  20763988 23959893 20776948 23035233 17174374 17174126 17174123 17173996 15501309 28490006 ...
 $ 상호명            : chr  "공덕이발관" "MK디자인건축" "대영타일욕실나라" "코오롱세탁소" ...
 $ 지점명            : chr  "" "" "" "" ...
 $ 상권업종대분류코드: chr  "F" "D" "D" "F" ...
 $ 상권업종대분류명  : chr  "생활서비스" "소매" "소매" "생활서비스" ...
 $ 상권업종중분류코드: chr  "F01" "D07" "D07" "F02" ...
 $ 상권업종중분류명  : chr  "이/미용/건강" "가정/주방/인테리어" "가정/주방/인테리어" "세탁/가사서비스" ...
 $ 상권업종소분류코드: chr  "F01A04" "D07A15" "D07A01" "F02A01" ...
 $ 상권업종소분류명  : chr  "남성미용실" "유리/페인트/철물건축자재" "인테리어/욕실용품/커튼" "세탁소/빨래방" ...
 $ 표준산업분류코드  : chr  "S96111" "G47519" "G47599" "S96912" ...
 $ 표준산업분류명    : chr  "이용업" "페인트, 유리 및 기타 건설자재 소매업" "그외 기타 분류안된 가정용품 소매업" "가정용 세탁업" ...
 $ 시도코드          : int  45 45 45 45 45 45 45 45 45 45 ...
 $ 시도명            : chr  "전라북도" "전라북도" "전라북도" "전라북도" ...
 $ 시군구코드        : int  45210 45140 45111 45130 45190 45710 45111 45113 45113 45140 ...
 $ 시군구명          : chr  "김제시" "익산시" "전주시 완산구" "군산시" ...
 $ 행정동코드        : num  4.52e+09 4.51e+09 4.51e+09 4.51e+09 4.52e+09 ...
 $ 행정동명          : chr  "공덕면" "송학동" "평화2동" "미성동" ...
 $ 법정동코드        : num  4.52e+09 4.51e+09 4.51e+09 4.51e+09 4.52e+09 ...
 $ 법정동명          : chr  "공덕면" "송학동" "평화동1가" "산북동" ...
 $ 지번코드          : num  4.52e+18 4.51e+18 4.51e+18 4.51e+18 4.52e+18 ...
 $ 대지구분코드      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ 대지구분명        : chr  "대지" "대지" "대지" "대지" ...
 $ 지번본번지        : int  345 265 583 3618 437 268 417 602 1268 349 ...
 $ 지번부번지        : int  2 21 17 NA NA 3 7 48 NA 1 ...
 $ 지번주소          : chr  "전라북도 김제시 공덕면 공덕리 345-2" "전라북도 익산시 송학동 265-21" "전라북도 전주시 완산구 평화동1가 583-17" "전라북도 군산시 산북동 3618" ...
 $ 도로명코드        : num  4.52e+11 4.51e+11 4.51e+11 4.51e+11 4.52e+11 ...
 $ 도로명            : chr  "전라북도 김제시 공덕면 공덕10길" "전라북도 익산시 군익로" "전라북도 전주시 완산구 장승배기로" "전라북도 군산시 산북로" ...
 $ 건물본번지        : int  3 443 221 84 124 68 2 483 29 103 ...
 $ 건물부번지        : int  NA NA NA NA NA NA 27 NA NA NA ...
 $ 건물관리번호      : num  4.52e+24 4.51e+24 4.51e+24 4.51e+24 4.52e+24 ...
 $ 건물명            : chr  "" "" "" "코오롱컴퓨터세탁" ...
 $ 도로명주소        : chr  "전라북도 김제시 공덕면 공덕10길 3" "전라북도 익산시 군익로 443" "전라북도 전주시 완산구 장승배기로 221" "전라북도 군산시 산북로 84" ...
 $ 구우편번호        : int  576921 570080 560842 573888 590090 565805 560809 561823 561761 570964 ...
 $ 신우편번호        : int  54320 54658 55106 54166 55795 55337 55137 54905 54828 54598 ...
 $ 동정보            : chr  "" "" "" "" ...
 $ 층정보            : int  NA NA NA NA NA NA NA 1 NA 1 ...
 $ 호정보            : chr  "" "" "" "" ...
 $ 경도              : num  127 127 127 127 127 ...
 $ 위도              : num  35.9 35.9 35.8 36 35.4 ...

  상가업소번호 상호명           지점명 상권업종대분류코드 상권업종대분류명
1 20763988     공덕이발관              F                  생활서비스
2 23959893     MK디자인건축            D                  소매
3 20776948     대영타일욕실나라        D                  소매
4 23035233     코오롱세탁소            F                  생활서비스
5 17174374     산리지호텔              O                  숙박
6 17174126     휴앤안                  Q                  음식
  상권업종중분류코드 상권업종중분류명   상권업종소분류코드
1 F01                이/미용/건강       F01A04
2 D07                가정/주방/인테리어 D07A15
3 D07                가정/주방/인테리어 D07A01
4 F02                세탁/가사서비스    F02A01
5 O01                호텔/콘도          O01A01
6 Q01                한식               Q01A01
  상권업종소분류명         표준산업분류코드 ⋯ 건물관리번호 건물명
1 남성미용실               S96111           ⋯ 4.52104e+24
2 유리/페인트/철물건축자재 G47519           ⋯ 4.51401e+24
3 인테리어/욕실용품/커튼   G47599           ⋯ 4.51111e+24
4 세탁소/빨래방            S96912           ⋯ 4.51302e+24  코오롱컴퓨터세탁
5 호텔/콘도                                 ⋯ 4.51901e+24  남원국민호텔
6 한식/백반/한정식         I56111           ⋯ 4.57103e+24
  도로명주소                            구우편번호 신우편번호 동정보 층정보
1 전라북도 김제시 공덕면 공덕10길 3     576921     54320             NA
2 전라북도 익산시 군익로 443            570080     54658             NA
3 전라북도 전주시 완산구 장승배기로 221 560842     55106             NA
4 전라북도 군산시 산북로 84             573888     54166             NA
5 전라북도 남원시 소리길 124            590090     55795             NA
6 전라북도 완주군 삼례읍 후정로 68      565805     55337             NA
  호정보 경도     위도
1        126.9116 35.89290
2        126.9348 35.94407
3        127.1366 35.79722
4        126.6745 35.96077
5        127.3900 35.40659
6        127.0655 35.90843

1 store의 변수명 확인

2 필요한 변수들 추출

▼

In [99]:
names(store)
store <- store[, c(1,2,5,7,9,11,13,15,17,19,32,38,39)]
str(store)
head(store)

 [1] "상가업소번호"       "상호명"             "지점명"
 [4] "상권업종대분류코드" "상권업종대분류명"   "상권업종중분류코드"
 [7] "상권업종중분류명"   "상권업종소분류코드" "상권업종소분류명"
[10] "표준산업분류코드"   "표준산업분류명"     "시도코드"
[13] "시도명"             "시군구코드"         "시군구명"
[16] "행정동코드"         "행정동명"           "법정동코드"
[19] "법정동명"           "지번코드"           "대지구분코드"
[22] "대지구분명"         "지번본번지"         "지번부번지"
[25] "지번주소"           "도로명코드"         "도로명"
[28] "건물본번지"         "건물부번지"         "건물관리번호"
[31] "건물명"             "도로명주소"         "구우편번호"
[34] "신우편번호"         "동정보"             "층정보"
[37] "호정보"             "경도"               "위도"

'data.frame':	6503 obs. of  13 variables:
 $ 상가업소번호    : int  20763988 23959893 20776948 23035233 17174374 17174126 17174123 17173996 15501309 28490006 ...
 $ 상호명          : chr  "공덕이발관" "MK디자인건축" "대영타일욕실나라" "코오롱세탁소" ...
 $ 상권업종대분류명: chr  "생활서비스" "소매" "소매" "생활서비스" ...
 $ 상권업종중분류명: chr  "이/미용/건강" "가정/주방/인테리어" "가정/주방/인테리어" "세탁/가사서비스" ...
 $ 상권업종소분류명: chr  "남성미용실" "유리/페인트/철물건축자재" "인테리어/욕실용품/커튼" "세탁소/빨래방" ...
 $ 표준산업분류명  : chr  "이용업" "페인트, 유리 및 기타 건설자재 소매업" "그외 기타 분류안된 가정용품 소매업" "가정용 세탁업" ...
 $ 시도명          : chr  "전라북도" "전라북도" "전라북도" "전라북도" ...
 $ 시군구명        : chr  "김제시" "익산시" "전주시 완산구" "군산시" ...
 $ 행정동명        : chr  "공덕면" "송학동" "평화2동" "미성동" ...
 $ 법정동명        : chr  "공덕면" "송학동" "평화동1가" "산북동" ...
 $ 도로명주소      : chr  "전라북도 김제시 공덕면 공덕10길 3" "전라북도 익산시 군익로 443" "전라북도 전주시 완산구 장승배기로 221" "전라북도 군산시 산북로 84" ...
 $ 경도            : num  127 127 127 127 127 ...
 $ 위도            : num  35.9 35.9 35.8 36 35.4 ...

  상가업소번호 상호명           상권업종대분류명 상권업종중분류명
1 20763988     공덕이발관       생활서비스       이/미용/건강
2 23959893     MK디자인건축     소매             가정/주방/인테리어
3 20776948     대영타일욕실나라 소매             가정/주방/인테리어
4 23035233     코오롱세탁소     생활서비스       세탁/가사서비스
5 17174374     산리지호텔       숙박             호텔/콘도
6 17174126     휴앤안           음식             한식
  상권업종소분류명         표준산업분류명                       시도명
1 남성미용실               이용업                               전라북도
2 유리/페인트/철물건축자재 페인트, 유리 및 기타 건설자재 소매업 전라북도
3 인테리어/욕실용품/커튼   그외 기타 분류안된 가정용품 소매업   전라북도
4 세탁소/빨래방            가정용 세탁업                        전라북도
5 호텔/콘도                                                     전라북도
6 한식/백반/한정식         한식 음식점업                        전라북도
  시군구명      행정동명 법정동명  도로명주소
1 김제시        공덕면   공덕면    전라북도 김제시 공덕면 공덕10길 3
2 익산시        송학동   송학동    전라북도 익산시 군익로 443
3 전주시 완산구 평화2동  평화동1가 전라북도 전주시 완산구 장승배기로 221
4 군산시        미성동   산북동    전라북도 군산시 산북로 84
5 남원시        노암동   신촌동    전라북도 남원시 소리길 124
6 완주군        삼례읍   삼례읍    전라북도 완주군 삼례읍 후정로 68
  경도     위도
1 126.9116 35.89290
2 126.9348 35.94407
3 127.1366 35.79722
4 126.6745 35.96077
5 127.3900 35.40659
6 127.0655 35.90843

▼ store의 시군구명 중 '전주'를 포함하는 데이터 추출

In [101]:
store <- store[grep("전주", store$시군구명), ]
head(store)

   상가업소번호 상호명           상권업종대분류명 상권업종중분류명
3  20776948     대영타일욕실나라 소매             가정/주방/인테리어
7  17174123     솔차니           음식             한식
8  17173996     BBQ치킨          음식             유흥주점
9  15501309     금암이동통신     소매             사진/광학/정밀기기소매
19 20743412     서곡해법영어교실 학문/교육        학원-어학
20 28494686     대호장           숙박             모텔/여관/여인숙
   상권업종소분류명       표준산업분류명                     시도명
3  인테리어/욕실용품/커튼 그외 기타 분류안된 가정용품 소매업 전라북도
7  한식/백반/한정식       한식 음식점업                      전라북도
8  호프/맥주              기타 주점업                        전라북도
9  핸드폰소매             통신기기 소매업                    전라북도
19 학원-어린이영어        외국어학원                         전라북도
20 모텔/여관/여인숙       여관업                             전라북도
   시군구명      행정동명 법정동명  도로명주소
3  전주시 완산구 평화2동  평화동1가 전라북도 전주시 완산구 장승배기로 221
7  전주시 완산구 삼천3동  삼천동1가 전라북도 전주시 완산구 장승배기로 2-27
8  전주시 덕진구 우아1동  우아동3가 전라북도 전주시 덕진구 견훤로 483
9  전주시 덕진구 송천1동  송천동2가 전라북도 전주시 덕진구 붓내3길 29
19 전주시 완산구 효자4동  효자동3가 전라북도 전주시 완산구 서곡7길 24
20 전주시 덕진구 우아2동  산정동    전라북도 전주시 덕진구 산정1길 32
   경도     위도
3  127.1366 35.79722
7  127.1131 35.78970
8  127.1547 35.85374
9  127.1239 35.86782
19 127.1009 35.83217
20 127.1678 35.83868

▼ 행정동명을 기준으로 상가의 개수 추출

In [102]:
store <- store %>% group_by(행정동명) %>% summarise(count = length(상가업소번호))
head(store)

  행정동명 count
1            1
2 금암1동   81
3 금암2동   55
4 노송동    75
5 덕진동   114
6 동산동    62

1 store의 첫 번째 행은 무슨 값....? 일단 제외하기

2 데이터프레임으로 변경

3 행정동을 기준으로 오름차순 정렬

▼

In [103]:
store <- store[-1,]
store <- as.data.frame(store)
store <- arrange(store, store$행정동명)
head(store)

  행정동명 count
1 금암1동   81
2 금암2동   55
3 노송동    75
4 덕진동   114
5 동산동    62
6 동서학동  18

▼ '행정동명', 'count'를 '행정동', '상권개수'로 변경

In [104]:
names(store) <- c("행정동", "상권개수")
store

   행정동    상권개수
1  금암1동    81
2  금암2동    55
3  노송동     75
4  덕진동    114
5  동산동     62
6  동서학동   18
7  삼천1동    81
8  삼천2동   105
9  삼천3동    73
10 서서학동   21
11 서신동    318
12 송천1동    92
13 송천2동    96
14 여의동      1
15 완산동     17
16 우아1동   115
17 우아2동    73
18 인후1동    70
19 인후2동    61
20 인후3동   101
21 조촌동     36
22 중앙동    114
23 중화산1동  54
24 중화산2동 131
25 진북동     68
26 팔복동     50
27 평화1동    27
28 평화2동   187
29 풍남동    106
30 호성동     67
31 효자1동    65
32 효자2동    84
33 효자3동    61
34 효자4동   220
35 효자5동     1

## 행정동이 잘 정리되었는지 확인

모든 행정동이 다 동일하다는 것을 확인할 수 있다.

In [105]:
df <- data.frame(pop = pop$행정동, rest = rest$행정동, bicycle = bicycle$행정동, bigstore = bigstore$행정동,
                 cvstore = cvstore$행정동, univ = univ$행정동, region = region$행정동, store = store$행정동)

df

   pop       rest      bicycle   bigstore  cvstore   univ      region
1  금암1동   금암1동   금암1동   금암1동   금암1동   금암1동   금암1동
2  금암2동   금암2동   금암2동   금암2동   금암2동   금암2동   금암2동
3  노송동    노송동    노송동    노송동    노송동    노송동    노송동
4  덕진동    덕진동    덕진동    덕진동    덕진동    덕진동    덕진동
5  동서학동  동서학동  동서학동  동서학동  동서학동  동서학동  동서학동
6  삼천1동   삼천1동   삼천1동   삼천1동   삼천1동   삼천1동   삼천1동
7  삼천2동   삼천2동   삼천2동   삼천2동   삼천2동   삼천2동   삼천2동
8  삼천3동   삼천3동   삼천3동   삼천3동   삼천3동   삼천3동   삼천3동
9  서서학동  서서학동  서서학동  서서학동  서서학동  서서학동  서서학동
10 서신동    서신동    서신동    서신동    서신동    서신동    서신동
11 송천1동   송천1동   송천1동   송천1동   송천1동   송천1동   송천1동
12 송천2동   송천2동   송천2동   송천2동   송천2동   송천2동   송천2동
13 여의동    여의동    여의동    여의동    여의동    여의동    여의동
14 완산동    완산동    완산동    완산동    완산동    완산동    완산동
15 우아1동   우아1동   우아1동   우아1동   우아1동   우아1동   우아1동
16 우아2동   우아2동   우아2동   우아2동   우아2동   우아2동   우아2동
17 인후1동   인후1동   인후1동   인후1동   인후1동   인후1동   인후1동
18 인후2동   인후2동   인후2동   인후2동   인후2동   인후2동   인후2동
19 인후3동   인후3동   인후3동   인후3동   인후3동   인후3동   인후3동
20 조촌동    조촌동    조촌동    조촌동    조촌동    조촌동    조촌동
21 중앙동    중앙동    중앙동    중앙동    중앙동    중앙동    중앙동
22 중화산1동 중화산1동 중화산1동 중화산1동 중화산1동 중화산1동 중화산1동
23 중화산2동 중화산2동 중화산2동 중화산2동 중화산2동 중화산2동 중화산2동
24 진북동    진북동    진북동    진북동    진북동    진북동    진북동
25 팔복동    팔복동    팔복동    팔복동    팔복동    팔복동    팔복동
26 평화1동   평화1동   평화1동   평화1동   평화1동   평화1동   평화1동
27 평화2동   평화2동   평화2동   평화2동   평화2동   평화2동   평화2동
28 풍남동    풍남동    풍남동    풍남동    풍남동    풍남동    풍남동
29 혁신동    혁신동    혁신동    혁신동    혁신동    혁신동    혁신동
30 호성동    호성동    호성동    호성동    호성동    호성동    호성동
31 효자1동   효자1동   효자1동   효자1동   효자1동   효자1동   효자1동
32 효자2동   효자2동   효자2동   효자2동   효자2동   효자2동   효자2동
33 효자3동   효자3동   효자3동   효자3동   효자3동   효자3동   효자3동
34 효자4동   효자4동   효자4동   효자4동   효자4동   효자4동   효자4동
35 효자5동   효자5동   효자5동   효자5동   효자5동   효자5동   효자5동
   store
1  금암1동
2  금암2동
3  노송동
4  덕진동
5  동산동
6  동서학동
7  삼천1동
8  삼천2동
9  삼천3동
10 서서학동
11 서신동
12 송천1동
13 송천2동
14 여의동
15 완산동
16 우아1동
17 우아2동
18 인후1동
19 인후2동
20 인후3동
21 조촌동
22 중앙동
23 중화산1동
24 중화산2동
25 진북동
26 팔복동
27 평화1동
28 평화2동
29 풍남동
30 호성동
31 효자1동
32 효자2동
33 효자3동
34 효자4동
35 효자5동

## 행정동을 기준으로 데이터 정리하기

In [96]:
jj <- merge(pop, rest)
jj <- merge(jj, cvstore)
jj <- merge(jj, region)
jj <- merge(jj, bicycle)
jj <- merge(jj, bigstore)
jj <- merge(jj, univ)

jj

   행정동    인구  음식점수 편의점수 면적.km 자전거보관대수 대규모점포수
1  금암1동    8824 323      25        1.25   253            1
2  금암2동   10714 119       8        1.25    20            0
3  노송동    13189 193       5        2.09   138            2
4  덕진동    21215 468      29        4.78   237            1
5  동서학동   6784  67       6       15.64     7            0
6  삼천1동   12799  97      NA        1.27    NA            0
7  삼천2동   14447 216       9        0.95    21            0
8  삼천3동   23323 219      13       26.60    62            2
9  서서학동   9223  54      NA        2.97     7            0
10 서신동    40408 560      31        2.39   126            4
11 송천1동   59376 347      30        4.79    31            3
12 송천2동   26748 288      14       12.14    27            0
13 여의동    30208 184      22       15.71    NA            3
14 완산동     5148  17      NA        0.99     7            0
15 우아1동   10096 227      14        1.44    NA            1
16 우아2동   15125 389      36       22.91   110            0
17 인후1동   19047 147       8        1.29    78            1
18 인후2동   12094 174       7        1.32    60            1
19 인후3동   32426 335      30        1.68    20            1
20 조촌동    12133  90       7       24.28    23            0
21 중앙동     8073 567      17        1.35    68            4
22 중화산1동 15288 227      19        1.22    NA            1
23 중화산2동 20030 491      20        1.72   119            0
24 진북동    14924 145       8        1.71   125            0
25 팔복동     8300 120      10        7.38    31            0
26 평화1동   13204 108       8        1.49    95            0
27 평화2동   46295 372      21       15.23    46            3
28 풍남동     4521 488      16        2.05    24            2
29 혁신동    17925 176      11        3.37    NA            0
30 호성동    21154 121       9        7.64    NA            1
31 효자1동   11784  72      NA        1.02    76            2
32 효자2동   10861 144       6        0.84    65            0
33 효자3동   15758 156       9        0.79    10            2
34 효자4동   33756 378      36        7.71    42            8
35 효자5동   37898 805      60        6.27    73            0
   대학교수
1  0
2  0
3  0
4  1
5  1
6  0
7  0
8  0
9  0
10 0
11 0
12 0
13 0
14 0
15 0
16 0
17 0
18 0
19 0
20 0
21 0
22 2
23 0
24 0
25 0
26 0
27 0
28 0
29 0
30 0
31 0
32 0
33 0
34 2
35 1

데이터에 있는 NA 값은 각 변수의 중앙값으로 교체 (오류)

In [97]:
jj[is.na(jj$인구) == TRUE ] <- median(jj$인구)
jj[is.na(jj$음식점수) == TRUE ] <- median(jj$음식점수)
jj[is.na(jj$편의점수) == TRUE ] <- median(jj$편의점수)
jj[is.na(jj$면적.km) == TRUE ] <- median(jj$면적.km)
jj[is.na(jj$자전거보관대수) == TRUE ] <- median(jj$자전거보관대수)
jj[is.na(jj$대규모점포수) == TRUE ] <- median(jj$대규모점포수)
jj[is.na(jj$대학교수) == TRUE ] <- median(jj$대학교수)

ERROR: ignored

In [106]:
jj <- jj[,-1]
jj

   인구  음식점수 편의점수 면적.km 자전거보관대수 대규모점포수 대학교수
1   8824 323      25        1.25   253            1            0
2  10714 119       8        1.25    20            0            0
3  13189 193       5        2.09   138            2            0
4  21215 468      29        4.78   237            1            1
5   6784  67       6       15.64     7            0            1
6  12799  97      NA        1.27    NA            0            0
7  14447 216       9        0.95    21            0            0
8  23323 219      13       26.60    62            2            0
9   9223  54      NA        2.97     7            0            0
10 40408 560      31        2.39   126            4            0
11 59376 347      30        4.79    31            3            0
12 26748 288      14       12.14    27            0            0
13 30208 184      22       15.71    NA            3            0
14  5148  17      NA        0.99     7            0            0
15 10096 227      14        1.44    NA            1            0
16 15125 389      36       22.91   110            0            0
17 19047 147       8        1.29    78            1            0
18 12094 174       7        1.32    60            1            0
19 32426 335      30        1.68    20            1            0
20 12133  90       7       24.28    23            0            0
21  8073 567      17        1.35    68            4            0
22 15288 227      19        1.22    NA            1            2
23 20030 491      20        1.72   119            0            0
24 14924 145       8        1.71   125            0            0
25  8300 120      10        7.38    31            0            0
26 13204 108       8        1.49    95            0            0
27 46295 372      21       15.23    46            3            0
28  4521 488      16        2.05    24            2            0
29 17925 176      11        3.37    NA            0            0
30 21154 121       9        7.64    NA            1            0
31 11784  72      NA        1.02    76            2            0
32 10861 144       6        0.84    65            0            0
33 15758 156       9        0.79    10            2            0
34 33756 378      36        7.71    42            8            2
35 37898 805      60        6.27    73            0            1

In [107]:
cor(jj)

               인구      음식점수     편의점수 면적.km      자전거보관대수
인구           1.0000000  0.474960458 NA        0.199027238 NA
음식점수       0.4749605  1.000000000 NA       -0.003611675 NA
편의점수              NA           NA  1                 NA NA
면적.km        0.1990272 -0.003611675 NA        1.000000000 NA
자전거보관대수        NA           NA NA                 NA  1
대규모점포수   0.4619764  0.349748671 NA        0.040469169 NA
대학교수       0.1386339  0.239924898 NA        0.026153577 NA
               대규모점포수 대학교수
인구           0.46197639   0.13863391
음식점수       0.34974867   0.23992490
편의점수               NA           NA
면적.km        0.04046917   0.02615358
자전거보관대수         NA           NA
대규모점포수   1.00000000   0.33877017
대학교수       0.33877017   1.00000000

In [ ]:

#########################################################################################################코드

pop <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/데이터_4차_행정동/(중복)2019_전주시 동별 인구.csv")
rest <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/데이터_4차_행정동/(중복)동별 음식점 및 주점업 사업체수(2018).csv")
bicycle <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/데이터_4차_행정동/(행정동)12_04_03_E_자전거보관소정보.csv")
bigstore <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/데이터_4차_행정동/(행정동)대규모점포현황_2020.csv")
cvstore <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/데이터_4차_행정동/(행정동)동별 체인화 편의점 + 사업체수 (2018년).csv")
univ <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/데이터_4차_행정동/(행정동)전주시 대학교.csv")
region <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/데이터_4차_행정동/(행정동)전주시 행정동 면적.csv")

jjdong <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/데이터_4차_행정동/전주 행정동_가나다순.csv")
jjdong <- jjdong$행정동
str(jjdong)
head(jjdong)

library(dplyr)

str(pop) ####
head(pop)
pop <- pop[,c(2,3)]
names(pop)[1] <- "행정동"
pop <- arrange(pop, pop$행정동)
table(pop$행정동 %in% jjdong)
table(jjdong %in% pop$행정동)
pop$행정동[pop$행정동 %in% jjdong == FALSE] #jjdong에는 없는 pop의 행정동
jjdong[jjdong %in% pop$행정동 == FALSE] #pop에는 없는 jjdong의 행정동
pop$행정동[which(pop$행정동 == "동산동")] <- "여의동" ## 19년 8월에 동산동을 여의동으로 변경, https://www.hani.co.kr/arti/area/honam/905848.html?_fr=mt2
pop <- arrange(pop, pop$행정동)
pop

str(rest) ####
head(rest)
rest <- rest[,c(2,4)]
names(rest) <- c("행정동", "음식점수")
rest <- arrange(rest, rest$행정동)
table(rest$행정동 %in% jjdong)
table(jjdong %in% rest$행정동)
jjdong[jjdong %in% rest$행정동 == FALSE]
rest

str(bicycle) ####
head(bicycle)
bicycle <- bicycle[, c(1,5,8)]
bicycle <- bicycle %>% group_by(행정동) %>% summarise(자전거보관대수 = sum(보관대수))
bicycle <- as.data.frame(bicycle)
bicycle <- arrange(bicycle, bicycle$행정동)
table(bicycle$행정동 %in% jjdong)
table(jjdong %in% bicycle$행정동)
jjdong[jjdong %in% bicycle$행정동 == FALSE]
add <- data.frame(행정동 = jjdong[jjdong %in% bicycle$행정동 == FALSE], 자전거보관대수 = rep(NA, length(jjdong[jjdong %in% bicycle$행정동 == FALSE])))
bicycle <- rbind(bicycle, add)
bicycle <- arrange(bicycle, bicycle$행정동)
bicycle

str(bigstore) ####
head(bigstore)
bigstore <- bigstore[,c(2,4,5)]
bigstore$count <- rep(1,nrow(bigstore))
bigstore <- bigstore %>% group_by(행정동) %>% summarise(대규모점포수 = sum(count))
bigstore <- as.data.frame(bigstore)
bigstore <- arrange(bigstore, bigstore$행정동)
table(bigstore$행정동 %in% jjdong)
table(jjdong %in% bigstore$행정동)
jjdong[jjdong %in% bigstore$행정동 == FALSE]
add <- data.frame(행정동 = jjdong[jjdong %in% bigstore$행정동 == FALSE], 대규모점포수 = rep(0, length(jjdong[jjdong %in% bigstore$행정동 == FALSE])))
bigstore <- rbind(bigstore, add)
bigstore <- arrange(bigstore, bigstore$행정동)
bigstore


str(cvstore) ####
head(cvstore)
cvstore <- cvstore[,c(2,4)]
names(cvstore)[1] <- "행정동"
cvstore <- arrange(cvstore, cvstore$행정동)
table(cvstore$행정동 %in% jjdong)
table(jjdong %in% cvstore$행정동)
cvstore$행정동[cvstore$행정동 %in% jjdong == FALSE] #jjdong에는 없는 cvstore의 행정동
jjdong[jjdong %in% cvstore$행정동 == FALSE] #cvstore에는 없는 jjdong의 행정동
add <- data.frame(행정동 = jjdong[jjdong %in% cvstore$행정동 == FALSE], 편의점수 = rep(NA, length(jjdong[jjdong %in% cvstore$행정동 == FALSE])))
cvstore<- rbind(cvstore, add)
cvstore <- arrange(cvstore, cvstore$행정동)
cvstore

str(univ) ####
head(univ)
univ <- univ[,c(1,3)]
univ$count <- rep(1,nrow(univ))
univ <- univ %>% group_by(행정동) %>% summarise(대학교수 = sum(count))
univ <- as.data.frame(univ)
univ <- arrange(univ, univ$행정동)
table(univ$행정동 %in% jjdong)
table(jjdong %in% univ$행정동)
jjdong[jjdong %in% univ$행정동 == FALSE] #univ에는 없는 jjdong의 행정동
add <- data.frame(행정동 = jjdong[jjdong %in% univ$행정동 == FALSE], 대학교수 = rep(0, length(jjdong[jjdong %in% univ$행정동 == FALSE])))
univ <- rbind(univ, add)
univ <- arrange(univ, univ$행정동)
univ

str(region) ####
head(region)
region <- region[,c(2,3)]
names(region) <- c("행정동", "면적.km")
region <- arrange(region, region$행정동)
table(region$행정동 %in% jjdong)
table(jjdong %in% region$행정동)
region$행정동[region$행정동 %in% jjdong == FALSE] #jjdong에는 없는 region의 행정동 #이름 오류 있는 듯 (송청1동, 품남동)
jjdong[jjdong %in% region$행정동 == FALSE] #region에는 없는 jjdong의 행정동
region

info <- read.csv("C:/Users/WIN10/성민지/데이터_3차/데이터_3차/전북 상권정보.csv")
str(info)
names(info)
data <- info[, c(1,2,5,7,9,11,13,15,17,19,32,38,39)]
str(data)
head(data)
store <- data[grep("전주", data$시군구명), ]
store <- store %>% group_by(행정동명) %>% summarise(count = length(상가업소번호))
store <- store[-1,]
store <- as.data.frame(store)
store <- arrange(store, store$행정동명)
names(store) <- c("행정동", "상권개수")
store


df <- data.frame(pop = pop$행정동, rest = rest$행정동, bicycle = bicycle$행정동,
                 bigstore = bigstore$행정동, cvstore = cvstore$행정동, univ = univ$행정동, region = region$행정동)
df


jj <- merge(pop, rest)
jj <- merge(jj, cvstore)
jj <- merge(jj, region)
jj <- merge(jj, bicycle)
jj <- merge(jj, bigstore)
jj <- merge(jj, univ)

jj[is.na(jj$인구) == TRUE ] <- median(jj$인구)
jj[is.na(jj$음식점수) == TRUE ] <- median(jj$음식점수)
jj[is.na(jj$편의점수) == TRUE ] <- median(jj$편의점수)
jj[is.na(jj$면적.km) == TRUE ] <- median(jj$면적.km)
jj[is.na(jj$자전거보관대수) == TRUE ] <- median(jj$자전거보관대수)
jj[is.na(jj$대규모점포수) == TRUE ] <- median(jj$대규모점포수)
jj[is.na(jj$대학교수) == TRUE ] <- median(jj$대학교수)

jj <- jj[,-1]


cor(jj)